h2 {
    font: bold;
    text-align: center;
}

/* Navigation bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    height: 100px;
}

/* Logo container */
.logo-container {
    margin-left: 0px;
    background-color: #989292;
    width: 200px;
    height: 70px;
}

/* Navigation menu */
.nav-menu {
    display: flex;
    align-items:flex-start; /* Align items towards the bottom of the container */
    margin-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    padding: 0 10px;
}

/* Additional CSS for other containers */
.hero-image {
    margin: 20px auto;
    background-color: #989292;
    width: 960px;
    height: 450px;
    text-align: center;
    text-justify: auto;
    
}


.sub-banner-container {
    display: flex;
    gap: 30px; /* Set gap between flex items */
    justify-content: space-between; /* Align items evenly with space between them */
    max-width: 960px; /* Set maximum width */
    margin: 20px auto; /* Center the container horizontally with top and bottom margin */
}

.sub-banner1,
.sub-banner2,
.sub-banner3 {
    width: 300px; /* Set fixed width */
    height: 375px; /* Set fixed height */
    background-color: #989292; /* Example background color */
}

.sub-banner1 h2,
.sub-banner2 h2,
.sub-banner3 h2,
.bottom-container h2,
.bottom-container-right h2 {
    text-align: center;
}

/* CSS for the two additional containers */
.bottom-containers {
    display: flex;
    gap: 30px; /* Set gap between flex items */
    justify-content: space-between; /* Align items evenly with space between them */
    max-width: 960px; /* Set maximum width */
    margin: 20px auto; /* Center the container horizontally with top and bottom margin */
}

.bottom-container {
    width: calc(50% - 10px); /* Set width for each container (50% minus spacing) */
    height: 375px; /* Set height as needed */
    background-color: #989292; /* Example background color */
}

.bottom-container-right {
    width: calc(50% - 10px); /* Set width for each container (50% minus spacing) */
    height: 375px; /* Set height as needed */
     /* Example background color */
}
